
<header>
    <h1>Le charme français</h1>
    <nav>
        <ul>
            <li><a href="/">Acasa</a></li>
            <li><a href="riviera.html">Riviera Franceză</a></li>
            <li><a href="alpii.html">Alpii Francezi</a></li>
            <li><a href="paris.html">Paris - capitala iubirii</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Gastronomie</a>
                <div class="dropdown-content">
                    <a href="branza.html">Branzeturi</a>
                    <a href="boulangerie.html">Boulangerie</a>
                </div>
            </li>
            <% if (session.user) { %>
                <li>Bun venit, <%= session.user %>! <a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>